ENVIRONMENT=development
SECRET_KEY=change-me
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8025,http://127.0.0.1:8025

WEB_PORT=8025
DB_PUBLIC_PORT=5436

POSTGRES_VERSION=17-alpine
DB_NAME=pami
DB_USER=pami_user
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432

TIME_ZONE=America/Guayaquil

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=Pámi <no-reply@pami.local>
CONTACT_NOTIFICATION_EMAIL=
CONTACT_DUPLICATE_WINDOW_SECONDS=60

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
