@import "tailwindcss";

@theme {
  --color-primary: #E31B23;
  --color-primary-hover: #C8161D;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@source "../../templates/**/*.html";
@source "../../apps/**/*.html";
@source "../../apps/**/*.py";
